<h3>
  Days off Requested
</h3>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<!--The following is a table of requested days off (might not be used)-->
<table borde>
  <tr>
    <!--The following is the table header-->
    <th>Date</th>
    <th>Satus</th>
    <th></th>
  </tr>
  <!--The following creates the first row and its data-->
  <tr>
    <td>12/20</td>
    <td>pending...</td>
    <td>remove</td> <!--user should be click on the remove text to remove data-->
    <!--NOTE THAT THIS MUST BE FIX TO AUTOCHANGE BASED ON DATA BEING PUSH TO IT-->
  </tr>
</table>